.mainbg {
    background-color: #88BBD6;
    height: 100vh;
}

.blkf{
    color: black;
}

.freshwater{
    background-color: #88BBD6;
    color: black;
}

.plaster {
    background-color: #CDCDCD;
}

.linen{
    background-color: #E9E9E9;
}

.bg-muted{
    background-color: #E9ECEF;
}

.ice{
    background-color: #99D3DF;
}
.homepageCol {
    padding-bottom: 30px;
}

.homepageCard {
    margin: auto;
    height: 170px;
    background-color: whitesmoke;
}

.homepage {
    background-color: white;
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 5%;
}

.cherryRedText {
    background: #A41E35;
    color: #E9E9E9;
}

.cherryBackground{

}

.createRequestBG {
    background: #E2DBD5;
}

.cbl label {
    padding-left: .5rem;
}

.loginContainer {
    overflow: auto;
    min-height: 100vh;
    background-image: url("../img/master-wen-lpLRwDZigvc-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.loginCard {
    height: auto;
    background-color: white;
    width: 50vw;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

.verifyCard {
    height: auto;
    background-color: white;
    width: 65vw;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

.cherryBackground {
    color: white;
    background-color: #A41E35;
}

.cherryFont {
    color: #A41E35;
}

    .cherryFont:active {
        color: black;
    }