.mainbg {
    background-color: #88BBD6;
    height: 100vh;
}

.blkf{
    color: black;
}

.freshwater{
    background-color: #88BBD6;
    color: black;
}

.plaster {
    background-color: #CDCDCD;
}

.linen{
    background-color: #E9E9E9;
}

.bg-muted{
    background-color: #E9ECEF;
}

.ice{
    background-color: #99D3DF;
}
.homepageCol {
    padding-bottom: 30px;
}

.homepageCard {
    margin: auto;
    height: 170px;
    background-color: whitemdoke;
}

.homepage {
    background-color: white;
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 5%;
}

.cherryRedText {
    background: #A41E35;
    color: #E9E9E9;
}

.cherryBackground{

}

.createRequestBG {
    background: #E2DBD5;
}

.cbl label {
    padding-left: .5rem;
}

.loginContainer {
    overflow: auto;
    min-height: 100vh;
    background-image: url("../img/master-wen-lpLRwDZigvc-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.loginCard {
    height: auto;
    background-color: white;
    width: 50vw;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

.verifyCard {
    height: auto;
    background-color: white;
    width: 65vw;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

.cherryBackground {
    color: white;
    background-color: #A41E35;
}

.cherryFont {
    color: #A41E35;
}

    .cherryFont:active {
        color: black;
    }

.documentHeader {
    color: #00ace6;
    font-weight: bold;
}


@media print {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    #lblOrganizationText {
        white-space: normal;
    }
}
